body{
      margin:0px;
      background-color: gold;
      color: black;
}
#header{
     font-size:60px;
     font-family: Times New Roman ;
     background-color: black;
     pudding-top:0px;
     color:gold ;
     text-align:center;
      
}

#header hr{
    width:100%;
    background-color:#3bff00;
}
marquee{
    margin-bottom:10px;
    font-size:60px;
    margin-top:0px;
}
nav ul {
    list-style: none; 
    padding:0px;
    margin:0px;
    display: flex;        
    gap:80px;            
}
    nav a {
      color: gold;
      font-family:Arial;
      font-size:50px;
      text-decoration: underline;
      margin:10px;
      font-weight: bold;
    }
#file img{
  width:30%;
  margin-top:30px;
  margin-bottom:10px;
  padding-left:350px;
}
#file h3{
    text-align: center;
    font-size:60;
    font-family: Times New Roman ;
}
#file form {
      max-width: 600px;
      margin: auto;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 30px   rgba(0,0,0,0.1);
    text-align: Left ;
    background-color: gold;
    color: back;
    padding-left:50px;
    font-family: Times New Roman ;
 }
button {
      background-color: #eaeaff;
      width: ;
      height: ;
      color: gold;
      padding: 10px 25px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
input,textarea, {
      width: 200%;
      height: 100;
      padding:10px;
      margin-top: 5px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
 }
footer{
  padding:20px;
  font-size:50px;
  margin-top:20px;
  color:gold;
  font-family: Times New Roman ;
  background-color: black;
  background-size: cover;
  text-align: center;
}
